# Ignore build artifacts
/build
fdawg

# Ignore test artifacts
/dwag_tests

# Ignore node modules
/node_modules

# Ignore package-lock.json
/package-lock.json

# Ignore docs build artifacts
/docs/_site
/docs/.jekyll-cache
/docs/Gemfile.lock

/test_**

# Ignore Github docs build artifacts
/docs/vendor
/docs/.bundle
/docs/.sass-cache